// bower:scss
// endbower


html, body {
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    text-align: center;
}

canvas {
    display: inline-text;
    background: #222;

    &:hover {
        cursor: pointer;
    }
}

.colors {
    position: fixed;
    top: 40px;
    right: 50px;

    .color {
        margin: 12px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
        transition: border-radius 0.4s;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0px; left: 0px; right: 0px; bottom: 0px;
            background: rgba(black, 0.4);
            transition: background .4s;
        }

        &.selected {
            border-radius: 5px;
        }

        &.selected::before {
            background: transparent;
        }

        &:hover {
            border-radius: 5px;

            &::before {
                // background: transparent ;
            }
        }

        &.blue {
            background: #526CDE;
        }
        &.green {
            background: #52DE65;
        }
        &.red {
            background: #DE5252;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
